body {
  margin: 2em;
}

#imageCenter{
  text-align: center;
  margin: auto;
}

.header {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

#iphonePlace{
  max-width: 30em;
}