<div  ng-controller="aboutController">

<div class="row">
  <div class="four columns">
    <img src="http://placehold.it/275x275">
  </div>
  <div class="eight columns">
    <p id="aboutText"> I am a web developer, graduate of The Evergreen State College, The Coding Dojo, and OIF Veteran. Experienced in building front to back web applications with MEAN, Ruby on Rails, iOS, and LAMP technology stacks. Consistently curious with a passion for learning and a military background focused on helping others.</p>

    <h6 class="docs-header">I have experience with:</h6>
    <ul>
      <li>Languages: PHP, Javascript, Swift, Ruby</li>
      <li>Frameworks: CodeIgniter, Express.io, AngularJS</li>
      <li>Libraries: jQuery, Socket.IO</li>
      <li>Deployment: AWS, Heroku</li>
      <li>Database: NoSQL (MongoDB), Mongoose.js, SQL (MySQL, SQLite),
      ActiveRecord Server: Apache, Node.js</li>
      <li>Development Tools: Sublime Text, Git/Github, Terminal, Xcode, Adobe Photoshop CC Methodology: MVC, OOP, RESTful, ORM</li>
    </ul>
  </div>
</div>