<div ng-controller="portfolio_app">

<div class="row">

  <div class="six columns">
    <h1 id="helloHeader">Hello,</h1>
    <p id="aboutText"> I am a web developer, graduate of The Evergreen State College, The Coding Dojo, and OIF Veteran. Experienced in building front to back web applications with MEAN, Ruby on Rails, iOS, and LAMP technology stacks. Consistently curious with a passion for learning and a military background focused on helping others.</p>
  </div>
  <div class="six columns">
    <h1 id="helloHeader">I have experience with:</h1>

    <table id="techToolBox">
      <thead>
        <th>Languages</th>
        <th>Frameworks</th>
        <th>Libraries</th>
      </thead>
      <tr>
      <td>
        <ul>
          <li>PHP</li>
          <li>Javascript</li>
          <li>Swift</li>
          <li>Ruby</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>CodeIgniter</li>
          <li>Express.io</li>
          <li>AngularJS</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>jQuery</li>
          <li>Socket.io</li>
        </ul>
      </td>
      <td>
      </td>
      </tr>
    </table>
    <table id="techToolBox">
      <thead>
        <th>Database</th>
        <th>Server</th>
        <th>Methodologies</th>
      </thead>
      <tr>
      <td>
        <ul>
          <li>MongoDB</li>
          <li>Mongoose.js</li>
          <li>MySQL</li>
          <li>ActiveRecord</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Apache</li>
          <li>Node.js</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>MVC</li>
          <li>OOP</li>
          <li>RESTful</li>
          <li>ORM</li>
        </ul>
      </td>
      <td>
      </td>
      </tr>
    </table>
  </div>
</div>
  <div class="row">
    <div class="six columns">
    </div>
</div>

    <form name="emailForm">
        <div>
          <label>From</label>
          <input type="email" name="from" ng-model="email.from" ng-required="true">
        </div>
        <div>
          <label>Subject</label>
          <input type="text" name="subject" ng-model="email.subject" ng-required="true">
        </div>
        <div>
          <label>Text</label>
            <textarea ng-model="email.text" name="text" placeholder="Enter Text Here.."></textarea>
        </div>

        <button id="emailSubmitBn" type="submit" ng-click="submitEmail()">
            Submit
        </button>
    </form>