<div ng-controller="portfolio_app">
<div class="row">

  <div class="six columns">
    <h1 id="helloHeader">Hello,</h1>
    <p id="aboutText"> I am a web developer, graduate of The Evergreen State College, The Coding Dojo, and OIF Veteran. Experienced in building front to back web applications with MEAN, Ruby on Rails, iOS, and LAMP technology stacks.</p>
  </div>
  <div class="six columns">
    <h1 id="helloHeader">I have experience with:</h1>

    <table id="techToolBox">
      <thead>
        <th>Languages</th>
        <th>Frameworks</th>
        <th>Libraries</th>
      </thead>
      <tr>
      <td>
        <ul>
          <li>PHP</li>
          <li>Javascript</li>
          <li>Swift</li>
          <li>Ruby</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>CodeIgniter</li>
          <li>Express.io</li>
          <li>AngularJS</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>jQuery</li>
          <li>Socket.io</li>
        </ul>
      </td>
      <td>
      </td>
      </tr>
    </table>
    <table id="techToolBox">
      <thead>
        <th>Database</th>
        <th>Server</th>
        <th>Methodologies</th>
      </thead>
      <tr>
      <td>
        <ul>
          <li>MongoDB</li>
          <li>Mongoose.js</li>
          <li>MySQL</li>
          <li>ActiveRecord</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Apache</li>
          <li>Node.js</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>MVC</li>
          <li>OOP</li>
          <li>RESTful</li>
          <li>ORM</li>
        </ul>
      </td>
      <td>
      </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
<hr>
  <div class="twelve columns">
    <h1 id="helloHeader">Get in Touch!</h1>
  </div>
</div>
<div class="row">
  <form name="emailForm">
    <div class="six columns">
      <label id="contactForm" for="fromData">From</label>
      <input class="u-full-width" id="fromData" type="email" name="from" ng-model="email.from" ng-required="true">
    </div>
    <div class="six columns">
      <label id="contactForm" for="subjectData">Subject</label>
      <input class="u-full-width" id="subjectData" type="text" name="subject" ng-model="email.subject">
    </div>
    <div class="twelve columns">
      <label id="contactForm" for="textData">Text</label>
            <textarea class="u-full-width" id="textData" ng-model="email.text" name="text" ng-required="true" placeholder="Enter Message Here.."></textarea>
        </div>
        <button id="emailSubmitBn" type="submit" ng-click="submitEmail()">
            Submit
        </button>
        <span id="contactRtn">{{success}}</span>
    </form>
    <!-- Pristine: {{emailForm.$pristine}} -->
  </div>
</div>
