<div class="row">
  <div class="twelve columns">
    <h5 class="header">Hearthstone E-Commerce made with LAMP stack.</h5>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <img class="imageCenter" src="../assets/mockups/hearthstone/04.png">
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p>This E-Commerce web app was created with a team at Coding Dojo at the end of a 3 week PHP course. This project gave our team an opportunity to showcase what we've learned and further explore API, jQuery integration and development workflows.</p>
    <p>We combined the PHP MVC Framework CodeIgniter with Bootstrap, mySQL, jQuery, and a Mashape Hearthstone card game API.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="five columns">
    <h6 class="docs-header">Personal Contributions to project:</h6>
  </div>
  <div class="seven columns" id="contributions">
    <ul>
      <li>Single Card View</li>
      <li>mySQL database administration</li>
      <li>Mashape API integration</li>
      <li>Shopping Cart and Checkout Functionality</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="five columns">
    <h6 class="docs-header">Colleagues:</h6>
  </div>
  <div class="seven columns" id="colleagues">
    <ul>
      <li><a href="https://www.linkedin.com/in/raymondluu" target="_blank">Raymond Luu</a></li>
      <li><a href="https://www.linkedin.com/in/stephanie-mehlhope-b32a0988" target="_blank">Stephanie Mehlhope</a></li>
    </ul>
  </div>
</div>

<hr>
<div class="row">
  <div class="twelve columns">
    <h6 class="docs-header">Prioritizing</h6>
      <p>We analyzed a provided wireframe and prioritized key features. Our team only had a few days to complete this project and we wanted to determine which features were must haves and which features would be nice to haves if we had additional time.</p>

      <p>Next, we choose  a product to "sell". We knew we wanted to integrate an API into our project. This decision drove our usage of the Mashape Hearthstone card game API. The API provided us with lots of card images and data to work with so we could focus on building the application rather than generating generic placeholder text and images.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <img class="imageCenter" src="../assets/mockups/hearthstone/02.png">
    <img class="imageCenter" src="../assets/mockups/hearthstone/03.png">
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h6 class="docs-header">Database Planning</h6>
      <p>Consideration went into how we wanted to manage the shopping cart quantities, how it would be updated and how we wanted to keep track of our customers. Our biggest decision at this point was to decide how we wanted to use the card data received from the API. After some deliberation and trial and error we decided upon using session data for customer identification, cart inventory and quantities only writing to the database when an order was placed. In regards to the card data we chose to use a small subset of the available cards mainly because there were some discrepancies with the card data we got back from the API and since the data wasn’t constantly changing we didn’t want the performance of the application to be too dependant on the API.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <img class="imageCenter" src="../assets/mockups/hearthstone/01.png">
    <img class="imageCenter" src="../assets/mockups/hearthstone/05.png">
  </div>
</div>