<div class="row">
    <div class="twelve columns">
      <h5 class="header">MiniGames - iOS Development</h5>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img id="iphonePlace" src="http://i.imgur.com/oKVG0LO.png">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>This project was made to show off the capabilities of the coreMotion iOS framework. This game was designed with modularity in mind so that we could integrate other mini-games modules into the platform we created. The mini-games were designed to showcases an iPhone's gyroscope, accelerometer, and device attitude/position.</p>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="five columns">
      <h6 class="docs-header">Personal Contributions to project:</h6>
    </div>
    <div class="seven columns" id="contributions">
        <ul>
        <li>coreMotion research and integration</li>
        <li>mini-game developement</li>
        </ul>
    </div>
  </div>
<hr>
  <div class = "row">
    <div class="twelve columns">
      <h6 class="docs-header">Application Development and Process</h6>

      <p>During our development process we decided that the best way to work on this project was to develop a framework that would incorporate the governing rules of the application for example, the duration of each mini game, transitioning randomly to the next game, and how the app would look.</p>

      <p>I worked on learning more about the coreMotion framework, its capabilities, game concepts, how to turn the sensors on and off, how to get the device to vibrate, and how to interpret the data returned from the sensors.</p>
    </div>
  </div>
<hr>
<div class="row">
  <div class="twelve columns">
    <h6 class="docs-header">The Games</h6>

    <h7 class="docs-sub-header">The Pickup Phone</h7>
    <p>Picking up the phone as quickly as you can!</p>
</div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img id="iphonePlace" src="http://i.imgur.com/oKVG0LO.png">
    </div>
  </div>

<div class="row">
  <h7 class="docs-sub-header">BallHole</h7>
  <p>Tilt the phone to collide the red and green circles within the allotted time.</p>
</div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img id="iphonePlace" src="http://i.imgur.com/oKVG0LO.png">
    </div>
  </div>

<div class="row">
  <h7 class="docs-sub-header">Screw Driver</h7>
  <p>Pretend your phone is a screw driver.</p>
</div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img id="iphonePlace" src="http://i.imgur.com/oKVG0LO.png">
    </div>
  </div>

<div class="row">
  <h7 class="docs-sub-header">Phone Wrestling</h7>
  <p>Arm wrestle your phone!</p>
</div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img id="iphonePlace" src="http://i.imgur.com/oKVG0LO.png">
    </div>
  </div>
</div>

