<div class="row">
    <div class="twelve columns">
      <h5 class="header">Names API - MEAN stack</h5>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>This application is created using the MEAN stack and lets users add data to a Mongo database through the Mongoose framework. The data is displayed using the AngularJS framework.</p>

      <p>This application utilizes the ExpressJS framework on top of a NodeJS server. This application began using just ExpressJS, NodeJS, and MongoDB. Adding and removing data was originally done using URL requests. Adding AngularJS to the application was a good way to connect all the dots in the MEAN technology stack.</p>

      <p>This application also allows users to update the JSON data that has already been written to the database.</p>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>I like this project because it’s a bit of a departure other CRUD based web because instead of just viewing the data on the front end there is an endpoint URL that can provide JSON data.</p>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>
</div>