<div ng-controller="projectsController" >
   <div class="row">
    <div class="twelve columns">
      <h5 class="header">Product Dashboard App - Ruby on Rails</h5>
    </div>
  </div>

  <div class = "row">
    <div class="six columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
    <div class="six columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>Product dashboard was created with ruby on rails. It allows users to add, remove, and update an inventory of products. Additionally products can be assigned categories, comments can be left for products, and there is also a page to view all comments.</p>

      <p>This project is primarily a result of self directed learning and collaboration with people at Seattle Ruby meetups and Coding Dojo classmates.</p>

      <p>During development I practiced more with a grid based CSS framework. The Skeleton CSS framework was a great way to see how CSS is incorporated into a Ruby on Rails while gaining more exposure to a gridded layout.</p>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>I used RESTful routing conventions to solidify my understanding of how it’s implemented in a Ruby on Rails web application. Working with web application routing also helped me connect the dots and conceptualize the flow of data within the web application.</p>

      <p>The sqlite3 database was created incrementally giving me experience with migrations, writing and understanding Active Record queries, and working within an existing database environment. The database was migrated to a postgresql database during deployment.</p>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>By planning, writing, and modifying code that directly influenced the front to back functionality I was exposed to the inner workings of a Ruby on Rails application. It was a great way to see how a Ruby on Rails application comes together </p>
    </div>
  </div>

  <div class = "row">
    <div class="twelve columns" id="imageCenter">
      <img src="http://placehold.it/275x275">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>Deployment to Heroku required me to change the database originally created sqlite3. Heroku prefers postgresql. The migration to another database was not in itself difficult, but it did put a spotlight on database management and taught me some valuable lessons.</p>
    </div>
  </div>



</div>