<!-- <div ng-controller="projectsController"> -->
  <div class="row" id="projectImages">
    <div class="six columns">
      <a href="#/miniGames"><img id="mobileImage" src="http://placehold.it/461.5x275"></a>
      <p style="text-align: center;">Core Motion Mini Games - iOS</p>

      <a href="#/hearthstone"><img id="mobileImage" src="http://placehold.it/461.5x275"></a>
      <p style="text-align: center;">Hearthstone Ecommerce - LAMP</p>
    </div>
<div class="six columns">
      <a href="#/nameAPI"><img id="mobileImage" src="http://placehold.it/461.5x275"></a>
      <p style="text-align: center;">Name API - MEAN</p>

      <a href="#/prodDash"><img id="mobileImage" src="http://placehold.it/461.5x275"></a>
      <p style="text-align: center;">Product Dashboard - Ruby on Rails</p>


    </div>
  </div>

</div>

