<!-- <div ng-controller="projectsController"> -->
  <div class="row" id="projectImages">
    <div class="twelve columns">
      <tr>
        <td>
          <a href="#/prodDash"><img src="http://placehold.it/461.5x275"></a>
        </td>
        <td>
          <a href="#/prodDash"><img src="http://placehold.it/461.5x275"></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#/prodDash"><img src="http://placehold.it/461.5x275"></a>
        </td>
        <td>
          <a href="#/prodDash"><img src="http://placehold.it/461.5x275"></a>
        </td>
      </tr>
    </div>
  </div>

</div>

