<!-- <div ng-controller="projectsController"> -->
<div class="row" id="projectImages">
  <div class="six columns">
    <a href="#/miniGames">
      <img id="mobileImage" img class="imageCenter" src="../assets/mockups/minigames/01.png">
    </a>
    <p style="text-align: center;">Core Motion Mini Games - iOS</p>
    <a href="#/hearthstone">
      <img id="mobileImage" img class="imageCenter" src="../assets/mockups/hearthstone/04.png">
    </a>
    <p style="text-align: center;">Hearthstone Ecommerce - LAMP</p>
  </div>
  <div class="six columns">
    <a href="#/prodDash">
      <img id="mobileImage" img class="imageCenter" src="../assets/mockups/productdash/01.png">
    </a>
    <p style="text-align: center;">Product Dashboard - Ruby on Rails</p>
    <a href="#/nameAPI">
      <img id="mobileImage" img class="imageCenter" src="../assets/mockups/name/01.png">
    </a>
    <p style="text-align: center;">Name API - MEAN</p>
  </div>
</div>

